:root {
  --bg-colour: rgb(32, 32, 32);
  --colour-1: rgb(255, 0, 149);
  --colour-2: white;
}

html,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: auto;
  margin: 100px auto;
  max-width: 1200px;
  background-color: var(--bg-colour);
}

.main {
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  max-width: 500px;
  height: 350px;
  border-radius: 10px;
  background-color: var(--colour-2);
}

h1 {
  display: grid;
  margin: -30px 60px;
  padding: 30px 35px;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  font-size: 40px;
  background-color: var(--colour-1);
}

p {
  margin: auto 60px;
  align-items: center;
  font-size: 25px;
}

/* Styling on mobile devices */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
